# Terraform files
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl

# Ignore override files as they are usually local
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore log and backup files
*.log
*.bak
*.tmp

# Ignore local environment or system files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
